.footer {
    width:-webkit-fill-available;
    display: flex;
    background-color: #000000;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-icon {
    height: 24px;
    width: 24px;
  }

  .footer-icon-lupa{
    height: 20px;
    width: 20px;
    padding: 8px;
  }
  
  .footer-logo {
    width: 100px;
    height: 100px;
    margin-right: 24px;
    border-radius: 12px;
  }
  
  .header-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .contenido-footer {
    line-height: 70px;
    width: 100%;
  }

  .footer-links{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px; 
  }
  
  .footer-links a {
    color: #ffffff;
    font-family: arial;
    text-decoration: none;
    margin: 0 10px;
  }

  footer a:hover {
    color: #d4d400;
  }
  
  .redes-sociales{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .line-hor {
    border-top: 2px solid rgb(255, 255, 255);
    height: 2px;
    width: 100%;
    padding: 0;
    margin: 0 auto 0 auto;
  }

  .buscador-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 70px;
  }

  .buscador{
    padding-left: 8px;
    background-color: #ffffff;
    border: none;
  }